---
---

@import "minima";

.footer-links {
  margin-bottom: 1.5rem;
  font-size: $small-font-size;
  line-height: 1.6;
}

.post-cover {
  margin: 0 0 1.5rem;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
  }
}
